div {
    border-style: solid;
    border-width: 3px;
}


/* ID Selektor*/
#yellowbox {
    background-color: yellow;
    height: 10vw;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.aquabox {
    background-color: mediumaquamarine;
    height: 30px;
    width: 30px;
    margin: 10px;
}

#bluebox {
    background-color: rgb(73, 73, 219);
    height: 300px;
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
}

#purplebox {
    background-color: purple;
    height: 50px;
    width: 50px;
    top: 0px;
    right: 0px;
    position: fixed;
}

#redbox {
    background-color: red;
    height: 100px;
    width: 100px;
    bottom: 0px;
    right: 0px;
    position: absolute;
}