div{
    margin: 10px;
    border-style: solid;
    border-width: 3px;
}
#bigBox{
    margin: 100px;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
}
#leftBox{
    display: grid;
    width: 50%;
    height: auto;
    grid-template-columns: 33% 33% 33%;
}
#rightBox{
    display: grid;
    width: 50%;
    height: auto;
    grid-template-columns: 50% 50%;
}
.greenBox{
    background-color: lightgreen;
}
#smallBoys{
width: 100px;
height: 100px;
}
#bigBoys{
    width: 150px;
    height: 200px;
}