/*Navigation - Für Alle */
.nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.navOption{
  margin-left: 20px;
  margin-right: 20px;
  padding: 12px;
  display: block;
  font-size: 30px;
}

a:link{
  text-decoration: none;
  color: black;
}
a:visited{
  color: black;
}
a:hover{
  background-color: gray;
}

/*Tabel*/
.line{
  background-color: blue;
}


/*Clubs*/
.grid-container-clubs{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 100px;
  
}

.grid-item-clubs{
  width: 200px;
  height: 50px;
  background-color: blue;
  margin: 10px;
}